/* autoprefixer grid: autoplace */

@import "vars";
@import "libs";
@import "fonts";
@import "global";

.download {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  text-align: center;
  &.active {
    opacity: 0;
    visibility: hidden;
  }
  img {
    display: block;
    width: 80px;
  }
  .spinner {
    animation: rotate 3s linear infinite;
    z-index: 2;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .path {
      stroke: rgba(255, 255, 255, 0.5);
      stroke-linecap: round;
      animation: dash 2.5s ease-in-out infinite;
    }
  }
}
.download-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.download__text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  &.active{
    display: none;
  }
}
.download__text-first,
.download__text-last {
  font-size: 25px;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.present {
  width: 100%;
  max-width: 1200px;
  margin: 0 10px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.present__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 20px;
  span {
    font-family: "Montserrat";
    font-weight: 700;
    margin: 0 7px;
    display: flex;
    align-items: center;
  }
  img {
    width: 60px;
  }
}

@media (max-width: 550px) {
  .present {
    margin: 0;
  }
  .present__title {
    font-size: 18px;
    display: block;
    text-align: right;
    img {
      display: block;
      width: 55px;
    }
    span {
      margin: 0;
    }
  }
  .download__text {
    bottom: 30px;
  }
  .download__text-first,
  .download__text-last {
    font-size: 20px;
    padding: 10px 0;
  }
}

@media (max-width: 420px) {
  .present__title {
    font-size: 15px;
    img {
      width: 50px;
    }
  }
}

@import "media";
